* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section-title span {
    color: #fd9222;
}





.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.header-logo {
    color: #111111;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-logo-italic {
    font-style: italic;
}

.header-logo-image {}

.header-menu-list {
    display: flex;
    gap: 24px;

}

.header-menu-item {}

.header-menu-link {
    color: #111111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-align: left;
    transition: color 750ms ease;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #FD9222;
}

.header-soc-list {
    display: flex;
    gap: 14px;
}

.header-soc-item {
    width: 40px;
    height: 40px;
}

.header-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    color: #111111;
    transition: border-color 300ms linear, color 300ms linear;
}

.header-soc-link:hover,
.header-soc-link:focus {
    border-color: rgba(253, 146, 34, 0.1);
    color: #FD9222;
}

.header-soc-icon {
    fill: currentColor;
}

.hero {
    padding-bottom: 80px;
}

.hero-container {
    background-color: #11111199;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    text-align: left;
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    align-items: center;
}

.hero-btn {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    background-color: #FD9222;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    margin-right: 14px;
    transition: background-color 300ms cubic-bezier(0.39, 0.575, 0.565, 1),
        color 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #FCF1E0;
    color: #FD9222;
}

.hero-btn-link {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: left;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: transparent;

}

.hero-btn-link:hover,
.hero-btn-link:focus {
    border-color: #FCF1E0;
    color: #FD9222;
}

.hero-btn-down {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-align: left;
    margin-left: auto;
    display: flex;
    gap: 14px;
    align-items: center;
}

.hero-btn-down::after {
    content: '';
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../images/angle-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-btn-down:hover,
.hero-btn-down:focus {
    color: #FD9222;
}

.hero-btn-down:hover:after {
    background-color: #FD9222;
    background-image: url(../images/angle-left-white.svg);
}

.features {
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-list {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
}

.features-item {
    width: calc((100% - 176px) / 3);
}

.features-subtitle {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 18px;
}

.features-item-text {
    color: #FFFFFFB2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.02em;
    text-align: left;
}

/* ====================================== */
.taste {
    padding-top: 120px;
}

.taste-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    min-width: 41px;
    margin-bottom: 50px;
}

.taste-title span {
    color: #FD9222;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.taste-item {
    background-color: #FD9222;
    padding: 28px 23px;
    border-radius: 15px;
    width: calc((100% - 96px) / 4);
}

.taste-item:nth-child(4n+1) {
    background-color: #FD9222;
    color: #FFFFFF;
}

.taste-item:nth-child(2n) {
    background-color: #FFFFFF;
    color: #111111;
    border: 1px solid #fd9222;
}

.taste-item:nth-child(4n+3) {
    background-color: #1e1823;
    color: #FFFFFF;
}

.taste-img {
    margin-bottom: 36px;
}

.taste-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
}

/* ========================================= */
.made {
    padding-top: 120px;
}

.made-title {
    color: #111111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.made-title span {
    color: #FD9222;
}

.made-img {}

.made-wrap {
    display: flex;
}

.made-content {
    background-color: #fff;
    padding: 32px;
    gap: 20px;

}

.made-subtitle {
    color: #111111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 28px;
}

.made-list {}

.made-item {
    margin-bottom: 24px;
}

.made-item:last-child {
    margin-bottom: 0;
}

.made-item-text {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
}

/* =================================== */
.products {
    padding-top: 120px;

}

.products-title {
    color: #111111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.products-title span {
    color: #FD9222;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
}

.products-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: #fff;
    width: calc((100% - 54px) / 4);
    padding: 32px 20px;
    text-align: center;
}

.products-img {
    margin-bottom: 8px;
}

.products-subtitle {
    color: #111111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    margin-bottom: 2px;

}

.products-item-text {
    color: #111111B2;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;

    margin-bottom: 18px;
    margin-bottom: 18px;
}

.products-btn {
    color: #111111;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0em;
    background-color: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
}

/* ===================================== */
.sellers {
    padding-top: 120px;

}

.sellers-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
    margin-bottom: 50px;
}

.sellers-title span {
    color: #fd9222;
}

.sellers-list {
    display: flex;
    gap: 16px;
}

.sellers-item {
    width: calc((100% - 32px) / 3);
}

.sellers-item:hover .sellers-cover-block {
    transform: translateY(0);
}

.sellers-item-img {}

.sellers-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.sellers-cover-wrap {
    position: relative;
    overflow: hidden;
}

.sellers-cover-block {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(165deg,
            rgba(253, 253, 255, 0.1) 3.97%,
            rgba(8, 2, 21, 0) 109.76%);
    backdrop-filter: blur(7.5px);
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;
    overflow: auto;
}

.sellers-cover-text {
    color: #fafafa;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* ================================ */
.loved {
    padding-top: 120px;
    padding-bottom: 120px;
}

.loved-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
    margin-bottom: 50px;
}

.loved-title span {
    color: #fd9222;
}

.loved-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.loved-item {
    width: calc((100% - 56px) / 3);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background-color: #fff;
    padding: 56px 24px 24px 24px;
}

.loved-item-img {}

.loved-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
    margin-bottom: 24px;
}

.loved-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    color: #111;
    display: block;
    margin: 0 auto;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    background-color: transparent;

}

/* ===================================== */
.footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 86px;
}

.footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 0px;
    padding-bottom: 50px;
    margin-bottom: 24px;
    display: flex;
}

.footer-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #fff;
    max-width: 300px;
    margin-right: auto;
}

.footer-text span {
    color: #fd9222;
}


.footer-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
    margin-bottom: 14px;
}

.footer-soc-wrap {
    margin-right: 50px;
}

.footer-soc-list {
    display: flex;
}

.footer-soc-item {}

.footer-soc-link {}

.footer-address-wrap {}

.footer-address {
    font-style: normal;
}

.footer-address-list {
    display: flex;
    flex-direction: column;
}

.footer-address-item {}

.footer-address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.footer-navigation {}

.footer-menu-list {
    display: flex;
    gap: 24px;
}

.footer-menu-item {}

.footer-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
    color: #fd9222;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: ;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
}

.modal {
    width: 517px;
    height: 794px;
    background-color: #fafafa;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-title {
    text-align: left;
    max-width: 300px;
    margin-bottom: 40px;
}

.modal-btn {
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
}

.modal-btn-icon {
    fill: transparent;
    stroke: #111111;
}

.modal-field {
    margin-bottom: 18px;
}

.modal-input {
    width: 100%;
    height: 68px;
    border: 1.50px solid rgba(17, 17, 17, 0.23);
    border-radius: 13px;
    padding: 22px 24px;
    background-color: inherit;
    color: green;
    font-size: 18px;
    padding-left: 24px;
    outline: transparent;
}

.modal-input:focus {
    border-color: #FD9222;
}

.modal-input::placeholder {
    color: purple;
    font-size: 14px;
}

.modal-label {
    display: block;
    margin-bottom: 5px;
}

.modal-input-wrap {
    position: relative;
}

.modal-icon {
    fill: transparent;
    stroke: #404040;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
}

.modal-input:focus+.modal-icon {
    stroke: #FD9222;
}


.modal-text {
    width: 100%;
    height: 137px;
    border: 1.50px solid rgba(17, 17, 17, 0.23);
    border-radius: 13px;
    padding: 22px 24px;
    background-color: inherit;
    color: green;
    font-size: 18px;
    padding: 22px 24px;
    outline: transparent;
    resize: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/*=========================*/
.users-container {
    background-color: #FCF1E0;
}

.users-title {
    text-align: center;
}

.img-responsive {
    display: block;
    width: 100%;
}